  .pretty-header {
    background-color: #19BC9C;
    min-height: 55px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
  }