.preview {
  width: 48vw;
  height: inherit;
  min-height: inherit;
  
  .diagram-container {
    height: inherit;
    min-height: inherit;
    position: relative;

    .mermaid {
      height: inherit;
      min-height: inherit;
      width: 100%;
      padding: 6px;

      svg {
        min-height: inherit;
        width: inherit;

        &:hover {
          cursor: grab;
        }
      }
    }

    #diagram-alert {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}