.preview {
  width: 48vw;
  height: inherit;
  min-height: inherit;
  
  .diagram-container {
    height: inherit;
    min-height: inherit;
    position: relative;

    #diagram-alert {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}